<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificacion de Pelicula</title>
    <!-- Agregar la referencia a los archivos CSS de Bootstrap (localmente o a través de CDN) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">Teremovie</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/management/movies">Peliculas</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	
    <div class="container mt-5">
        <h1 class="mt-5">Editar de Pelicula</h1>
        <form action="/management/edit" method="post">
			
			<input type="hidden" th:value="${movie.id}" name="id" />
			
            <div class="form-group">
                <label for="nombre">Nombre de la Pelicula</label>
                <input type="text" class="form-control" id="nombre" name="nombre" 
                	th:value="${movie.nombre}"
                	placeholder="Ingrese el nombre de la pelicula" required>
            </div>
            <div class="form-group">
                <label for="director">Director</label>
                <input type="text" class="form-control" id="director" name="director" 
                	th:value="${movie.director}"
                	placeholder="Ingrese director" required>
            </div>
            
            <div class="form-group">
                <label for="fechaEstreno">Fecha de Estreno</label>
                <input type="date" class="form-control" id="fechaEstreno" name="fechaEstreno" 
                	th:value="${movie.fechaEstreno}"
                	placeholder="Ingrese Fecha de Estreno" required>
            </div>
            
            <div class="form-group">
				<label for="idGenero">Genero</label>
				<select class="form-control" name="idGenero">
				    <option th:each="genero: ${generos}" th:value="${genero.id}" th:text="${genero.nombre}"
				    	th:selected="${movie.genero.id == genero.id}"></option>
				</select>
			</div>

            <button type="submit" class="btn btn-primary">Editar Pelicula</button>
        </form>
    </div>
    
    <!-- Agregar la referencia a los archivos JavaScript de Bootstrap (localmente o a través de CDN) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>