<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Peliculas</title>
    <!-- Agregar la referencia a los archivos CSS de Bootstrap (localmente o a través de CDN) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">Teremovies</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/management/movies">Peliculas</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	
    <div class="container mt-5">
        <h1 class="mt-5">Registro de Peliculas</h1>
        <form action="/management/register" method="post">
            <div class="form-group">
                <label for="nombre">Nombre de la Pelicula</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre de la pelicula" required>
            </div>
            <div class="form-group">
                <label for="director">Director</label>
                <input type="text" class="form-control" id="director" name="director" placeholder="Ingrese el director" required>
            </div>
            <div class="form-group">
                <label for="fechaEstreno">Fecha de Estreno</label>
                <input type="date" class="form-control" id="fechaEstreno" name="fechaEstreno" placeholder="Ingrese fecha de estreno" required>
            </div>
            
            <div class="form-group">
				<label for="id">Genero</label>
				<select class="form-control" name="id">
					<option value="" selected>Selecciona el genero</option>
				    <option th:each="genero: ${generos}" th:value="${genero.id}" th:text="${genero.nombre}"></option>
				</select>
			</div>

            <button type="submit" class="btn btn-primary">Registrar Pelicula</button>
        </form>
    </div>
    
    <!-- Agregar la referencia a los archivos JavaScript de Bootstrap (localmente o a través de CDN) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>